html {
    font-size: 100%;
}
body {
    font-size: 0.875rem;
    font-family: Arial, Helvetica, sans-serif;
}
.responsive-img{
    max-width: 100%;
    height: auto;
}
.container {
    display: grid;
    grid-template:
                    "header"
                    "article"
                    "footer";
}
.header {
    grid-area: header;
}
.content {
    grid-area: article;
    display: grid;
    grid-template:
                    "figure timeline"
                    "credits credits"
}
.footer {
    grid-area: footer;
}
.fig {
    grid-area: figure;
}
.timeline {
    grid-area: timeline;
}
.credits {
    grid-area: credits;
}


