html {
    font-size: 100%;
}
body {
    font-size: 0.875rem;
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-template:
                    "header"
                    "article"
                    "footer";
    line-height: 1.2;
    color: #202020;
}
a {
    text-decoration: none;
    color: #2523a7;
}
a:hover {
    text-decoration: underline;
}
.responsive-img{
    display: block;
    max-width: 95%;
    height: auto;
    margin: 2% auto;
}
.header {
    grid-area: header;
}
.content {
    grid-area: article;
    display: grid;
    grid-template:
                        "figure timeline"
                        "credits credits";
}
.footer {
    grid-area: footer;
}
.fig {
    grid-area: figure;
    align-self: center;
}
.timeline {
    grid-area: timeline;
}
.credits {
    grid-area: credits;
}
.f-lg {
    font-size: 2.5rem;
}
.f-md {
    font-size: 1.5rem;
}
.f-sm {
    font-size: 0.625rem;
}
.txt-ctr {
    text-align: center;
}
.bg-lt-gradient {
    background-image: linear-gradient(#ecfcf4, #dcffee)
}
.bg-dk {
    background-color: #c8c7ff;
}
.bg-gradient {
    background-image: linear-gradient(#dcffee, #c8c7ff);
}
.mar-0 {
    margin: 0;
}
.pa-5 {
    padding: 5%;
}
.bold {
    font-weight: bold;
}
.list {
    list-style: url('images/candy-list.png');
}
.b-mar-1 {
    margin-bottom: 1%;
} 
.mar-1 {
    margin: 1%;
}
.round-corner {
    border-radius: 0.5rem;
}
.h-font {
    font-family: 'Raleway', sans-serif;
}
@media screen and (max-width: 700px) {
    body {
        font-size: 0.75rem;
    }
    .content {
        grid-template:
                        "figure"
                        "timeline"
                        "credits";
    }
    .f-lg {
        font-size: 2rem;
    }
    .f-md {
        font-size: 1.25rem;
    }
    .f-sm {
        font-size: 0.5rem;
    }
    a:focus, a:active {
        text-decoration: underline;
    }
}